<footer>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </div>
  <div class="col-xs-12 text-center">
    <div class="social-bar">
      <a href="https://www.facebook.com/Queen/" target="_blank" title="Queen on Facebook">
        <i class="fa fa-facebook">
        </i>
      </a>
      <a href="https://twitter.com/QueenWillRock?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" title="Queen on Twitter">
        <i class="fa fa-twitter">
        </i>
      </a>
      <a href="https://www.instagram.com/officialqueenmusic/" title="Queen on Instagram">
        <i class="fa fa-instagram">
        </i>
      </a>
    </div>
  </div>
  <p id="legal" class="center-block text-center">
  <small>&copy; <span class="copyright-year"></span>
  A class project by Celeste Ramirez.
  </p>
</footer>
