<div id="header">
  <img class="img-responsive center-block" width="auto" height="30px" src="img/queen-logo-white.png" alt="band queen">
</div>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: pink">
  <a class="navbar-brand" href="{{ relative_path }}index.html">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"><img src="img/Queen-logo-black.png" height="20px"></a> 
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for member in queen.members %}
            <a class="dropdown-item" href="{{ relative_path }}queen/{{ member.slug}}.html">{{ member.name }}</a>
            {% endfor %}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{relative_path}}tour.html">Tour</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{relative_path}}discography.html">Discography</a>
      </li>
    </ul>
  </div>
</nav>