{% extends '_templates/base.njk' %}

{% block content %}

{% include "_includes/nav.njk" %}

<article class="container">
<h1>Queen's Discography</h1>
<div class="row">
{% for disc in queen.discography %}
  <div class="col-sm-3 col-lg-6 mb-2">
    <div class="card">
    <img class="card-img-top" src="img/discs/{{ disc.image }}" alt="Queen Album">
    <div class="card-body">
      <h5 class="card-title">{{ disc.title }}</h5>
      <p class="card-text">{{ disc.year }}</p>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}