{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block content %}

{% include "_includes/nav.njk" %}

{% include "_includes/jumbotron.njk" %}

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>About Queen</h1>
      <p>Queen formed in 1971 and in 1973 signed their first recording contract for EMI. That same year they released their first album, entitled Queen, and had their first major UK tour. In 1974 the band released Queen II and made their first UK headlining tour. They made their first US tour, and in November released Sheer Heart Attack which was a hit on both sides of the Atlantic.</p>

  <div>
    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/eH5aH2F4BaM' frameborder='0' allowfullscreen></iframe>
    </div>
  <div>
    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/ybkJs4FnKPM' frameborder='0' allowfullscreen></iframe></div>
    </div>
  </div>

  <div class="the-band">
  <h1>The Band</h1>
  <div class="row">
    {% for member in queen.members %}
    <div class="card text-white bg-danger col-md-6 col-lg-3">
      <div class="card-header"><h3><button type="button" class="btn btn-secondary btn-lg btn-light"><a href="queen/{{ member.slug }}.html">{{ member.name }}</a></h3></button></div>
      <h5 class="card-title"><img src="img/members/{{ member.slug }}-bw.jpg" alt class="img-fluid"></h5>
    </div>
    {% endfor %}
    <div class="container">
    <div class="button">
    <button type="button" class="btn btn-secondary btn-lg btn-light"><a href="discography.html">Queen's Discography</a></button>
  </div>
</div>

{% endblock %}