{% extends '_templates/base.njk' %}

{% block content %}

{% include "_includes/nav.njk" %}
<div>
<div class="container" style="margin-top:30px">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Location</th>
        <th>Venue</th>
      </tr>
    <thead>
    {% for tour in queen.tour2021 %}
    <tbody>
      <tr>
        <td><span class="date">{{ tour.date}}</span></td>
        <td><span class="location">{{ tour.city }}</span></td>
        <td><span class="venue">{{ tour.venue }}</span>
        </span></td>
      </tr>
    </tbody>
    {% endfor %}
  <table>
</div>
{% endblock %}